
.country-stats {
     background: linear-gradient(to bottom, #0000ff 10%, #6600cc 90%);
}

.color-primary {
  color: mat-color($primary);
}

.color-white {
  color: white;
}

#vantajs {
  width: auto;
}



#content-desktop {display: block;}
#content-mobile {display: none;}

@media screen and (max-width: 768px) {

#content-desktop {display: none;}
#content-mobile {display: block;}

}
